.Answer {
  border: 3px solid var(--secondary-color);
  width: auto;
  min-width: 30%;
  margin-bottom: 1%;
  margin-left: 5%;
  margin-right: 0%;
  background-color: var(--secondary-color);
  border-radius: 2em;
  color: var(--text-color);
  font-size: 1.7em;
}
.AnswerPoints.Answered
{
  background-color:lightgreen;
}

.Appear{
  transition: background-color 4s, color 4s;
}

.AnswerName {
  width: 100%;
  display: inline-block;
  width:79%;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  background-color: var(--light-color);
}

.AnswerPoints {
  display: inline-block;
  width:20%;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-color: var(--light-color);
}

.Appear.Hidden {
  background-color: var(--primary-color);
  color: var(--primary-color);
}


